

footer {
  background-color: #555555;
  height: auto;
}

.gallery-wrap a {
  text-decoration: none;
  color: #fff;


}

.gallery-wrap a:hover {
  color: #9C2A29;
}

.footer_hr {
  transform: rotate(-90deg);
  background-color: #fff;
  width: 150px;
    margin: 0;
    height: 1.5px;
}



@media only screen and (max-width:900px) {
  .footer_hr {

transform: rotate(0deg);

  }

}

#map {
  height: 200px;
  border-radius: 50%;
  width: 200px;
}

#map div {
      border-radius: 50%;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}



@media only screen and (max-width: 900px) {
 .flexcontainer {
  flex-direction: column;

 }

}


.gallery-wrap-map {
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2) ;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
border-radius:50%;
}


.gallery-wrap-map .gmnoprint {
  display: none;
}

.gallery-wrap h3 {
  color: #fff;
  font-weight: semibold;
  font-size: 18px;
}

.gallery-wrap p {
  color: #fff;
      font-weight: 300;

}



.copyright {
    font-size: 11px;
    font-weight: 200;
    color: grey;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1%;
}




/* Css til newsletter form. Css koden ligger i plugin

#footer-sidebar1  {
    margin-left: 10%;
  }


@media only screen and (max-width:900px) {
  #footer-sidebar1 {
    display: flex;
    justify-content: center;
  }
}


.tnp-widget-minimal input.tnp-email {
  width: 280px;
  border-top-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 25px;
  background-color: #fff;
  border: 1px;
    border-color: #fff;
}


@media only screen and (max-width:900px) {
  .tnp-widget-minimal input.tnp-email {
  width: 180px;
  }
}

.tnp-widget-minimal input.tnp-submit {
  border-top-left-radius: 0;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-bottom-left-radius: 0;
    padding: 13px;
    color: #fff;
      padding: 12px;
       border-color: #D5CCC4;
    background-color: #D5CCC4;
  width: 90px;
}




*/
