.gallery_hr {
  background-color: #9C2A29;
  height: 1px;
  width: 80%;

}


.twoJGalleryCSSwrap {
  display: none;
}


.gallery_content {
  margin-top: 2%;
  margin-bottom: 5%;
}


@media only screen and (max-width: 900px) {

.gallery_content {
padding-top: 20%;
}

}



.gallery-wrap {
  margin-top: 5%;
  margin-bottom: 5%;
}
