

.toggle-nav {
  display: block;
}

@media only screen and (max-width:900px)  {
  .toggle-nav {
    display: none;
  }
}

.navbar-fixed-left {
  width: 80px;
  position: fixed ;
  height: 100% ;
  z-index: 1;
  left: 0;

}



.toggle-button {
  display: none;

}


#toggle-button {
  margin-top: 20px;
}

@media only screen and (max-width:900px) {
   .toggle-button {
     display: block;

   }
}

#button-close {
  display: none;
}


.navbar {
      display: flex;
      justify-content: center;
}


#menu-main-navigation {
  display: flex;
justify-content: space-between;
flex-direction: column;
}

.navbar-fixed-left .navbar-nav > li {
  float: none ;  /* Cancel default li float: left */
  height: 100px;


}


.navbar-fixed-left + .container {
  padding-left: 160px ;
}





.navbar-inverse {
background-color: #fff ;
border-radius: 0px ;
border-color: #fff;
-webkit-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.2) ;
-moz-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.2) ;
box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.2) ;
}





.navbar-inverse .navbar-nav>li>a {
    color: #555555 ;
   transform: rotate(-90deg) ;
    text-transform: uppercase ;
    padding: 0 ;
    margin: 0 ; }


.navbar-inverse .navbar-nav>.active>a {
       color: #9C2A29;
       background-color: transparent;


}


.navbar-inverse .navbar-nav>.active>a:hover {
       color: #9C2A29;
       background-color: transparent;


}


.navbar-inverse .navbar-nav>li>a:hover{
  color:#9C2A29;
}

@media only screen and (max-width:900px) {
   .navbar-fixed-left {
      width: 100%;

   }
}

@media only screen and (max-width: 900px) {
.navbar-inverse .navbar-nav>li>a {
      transform: rotate(0deg);
      text-align: center;
}
}


@media only screen and (max-width: 900px) {
  #menu-main-navigation {
    margin-top: 50px;
  }
}

.flex-justify {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
  display: block;
width: 22px;
height: 2px;
border-radius: 1px;
    background-color: #888;
}


#toggle-button, #button-close {
  position: absolute;
  z-index: 2;
height: 50px;
}
